<div>
    <h2 translate="filmSolutionsApp.task.home.title">Tasks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="filmSolutionsApp.task.home.createLabel">
                        Create new Task
                    </span>
                </button>
                <button type="submit" ui-sref="task.notifyall" class="btn btn-danger">
                    <span class="glyphicon glyphicon-user"></span>
                    Notify All
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'filmSolutionsApp.task.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="filmSolutionsApp.task.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="filmSolutionsApp.task.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_assigned"><span translate="filmSolutionsApp.task.date_assigned">Date_assigned</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_completion"><span translate="filmSolutionsApp.task.date_completion">Date_completion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="filmSolutionsApp.task.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priority"><span translate="filmSolutionsApp.task.priority">Priority</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.name"><span translate="filmSolutionsApp.task.owner">owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in vm.tasks track by task.id">
                    <td><a ui-sref="task-detail({id:task.id})">{{task.id}}</a></td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.date_assigned | date:'medium'}}</td>
                    <td>{{task.date_completion | date:'medium'}}</td>
                    <td translate="{{'filmSolutionsApp.Status.' + task.status}}">{{task.status}}</td>
                    <td translate="{{'filmSolutionsApp.Priority.' + task.priority}}">{{task.priority}}</td>
                    <td>
                        <a ui-sref="owner-detail({id:task.owner.id})">{{task.owner.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="task.notify({id:task.id})" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="hidden-xs hidden-sm"></span>Notify
                            </button>
                            
                            <button type="submit" ui-sref="task-detail({id:task.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="task.edit({id:task.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="task.delete({id:task.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>